<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Orc.DbToCsv.Console\Orc.DbToCsv.Console.NET40\packages.config" />
  <repository path="..\src\Orc.DbToCsv.Console\Orc.DbToCsv.Console.NET45\packages.config" />
  <repository path="..\src\Orc.DbToCsv.Tests\Orc.DbToCsv.Tests.NET40\packages.config" />
  <repository path="..\src\Orc.DbToCsv.Tests\Orc.DbToCsv.Tests.NET45\packages.config" />
  <repository path="..\src\Orc.DbToCsv\Orc.DbToCsv.NET40\packages.config" />
  <repository path="..\src\Orc.DbToCsv\Orc.DbToCsv.NET45\packages.config" />
</repositories>